/* Two font faces */
@font-face
{
	font-family: "Iosevka Fixed";
	src:
		url("fonts/Iosevka-Fixed/IosevkaFixed-Regular.woff2") format("woff2");
}


@font-face
{
	font-family: "Julia Mono";
	src:
		url("fonts/JuliaMono/JuliaMono-Regular.woff2") format("woff2");
}


/* Global variables. */
:root, ::backdrop
{

	/* Side of the biggest square that can fit into viewport */
	--vq: min(100vw, 100vh);

	--main-font: "Julia Mono";

	--border-width: 0.1rem;

	--color-background-1: #212121;

	--color-background-2: #2b2b2b;

	/* Normal text*/
	--color-text-normal: #dcdcdc;

	/* Highlited text (not interative) */
	--color-text-marked: #14bb00;

	/* Less important text, ofuscated text */
	--color-text-shadowed: grey;

	/* Things that can be clicked. Includes anchors (links). Includes buttons (this is the color of a button backround). Does not includes text inside buttons, since its the button itself that can be clicked, not the text.*/
	--color-clickable-normal: #ffb300;

	--color-clickable-selected: #ffcd5b;

	/* Color of lines that separate things (includes horizontal rules) */
	--color-border: #545454;
}


/* Add a bit of transparency so light media isn't so glaring in dark mode */
img, video { opacity: 0.8;}


/* Marked text */
mark, code, kbd, blockquote > *
{
	color: var(--color-text-marked);
}


/* Shadowed text */
cite
{
	color: var(--color-text-shadowed);
}


/* Anchors (links) */
a
{
	color: var(--color-clickable-normal);
	text-decoration: none;
}


/* Anchor selected */
a:hover
{
	color: var(--color-clickable-selected);
}


/* Color of clickable things when focused */
button:enabled:hover, input[type="submit"]:enabled:hover, input[type="reset"]:enabled:hover, input[type="button"]:enabled:hover
{
	background-color: var(--color-clickable-selected);
}


hr
{
	color: var(--color-border);
}


html
{
	margin: 0;
	padding: 0;
	width: 100vw;
	color: var(--color-text-normal);
	background-color: var(--color-background-1);

	/* Set the font globally */
	font-family: var(--main-font);

	scroll-behavior: smooth;
	font-size: 1rem;
}


body
{
	margin: 0;
	padding: 0;
	width: 100vw;
	display: grid;

	/* Space for main content will be the middle grid column */
	grid-template-columns: 1fr var(--vq) 1fr;

	/* First row is for header */
	grid-template-rows: auto auto;

}


header
{
	margin: 0;
	background-color: var(--color-background-2);
	border-color: var(--color-border);
	border-bottom-style: solid;
	border-width: var(--border-width);
	text-align: center;

	display: grid;

	/* Three columns, same as body */
	grid-template-columns: 1fr var(--vq) 1fr;

	/* Occupies all columns of body, equivalent to 100vw */
	grid-column-start: 1;
	grid-column-end: 4;
}


header > *
{
	/* Space for content will be the middle grid column */
	grid-column: 2;
}


main
{
	grid-column: 2;
	grid-row: 2;
	margin-bottom: 2rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}


figure, img, video, div.scroll
{
	margin: auto;
	width: 96%;
	height: auto;
}


figure > img
{
	/* Center images inside [figure] element */
	display: block;
	margin: auto;
}


figure > *
{
	margin-left: 1rem;
	margin-right: 1rem;
}


figure
{
	font-size: 0.8rem;
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--color-border);
}


h1, h2, h3, h4, h5, h6
{
	font-size: 1.4rem;
	line-height: 1.1;
	font-weight: 700;
	margin-top: 3rem;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}


p, li
{
	font-size: inherit;
	line-height: 1.3em;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 1em;
	margin-right: 1em;
}


/* In a div with class [scroll], text is not wrapped. Use this to insert code or something like an email, that is better understood whithout wrap. */
div.scroll
{
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: var(--color-background-2);

	overflow-x: scroll;

	/* There is no overflow in y axis, because the height of the div grows along with the content. However, this prevents the browser to show vertical srcollbar. */
	overflow-y: hidden;
}


div.scroll > *
{
	margin-right: 2em;
	margin-left: 2em;
	text-wrap: nowrap;
}


/*Clickable things*/
button, input[type="submit"], input[type="reset"], input[type="button"]
{
	margin: 1em;
	padding: 0.5rem;
	border-width: 0px;
	background-color: var(--color-clickable-normal);

	/* Text color is background-1 */
	color: var(--color-background-1);

	text-decoration: none;
	line-height: normal;
}


select
{
	font-family: inherit;
	padding: 0.5em;
	margin: 0.6em;
	box-shadow: none;
	color: var(--text-color);
	background-color: var(--background-color);
	border: 1px solid var(--color-border);
}


#goTopButton
{
	width: fit-content;
	height: fit-content;
	margin: 1rem;
	position: fixed;
	bottom: 0px;
	right: 0px;
}


#topNavigations
{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;
}


#topNavigations > *
{
	width: fit-content;
	height: fit-content;
	margin: 1em;
}


/* [navigation.js] will set property [display] to [none] so this element will be hidden by default. */
#sectionIndex
{
	background-color: var(--accent-bg);
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 2;
	grid-template-columns: 1fr var(--vq) 1fr;
}


#sectionIndex > *
{
	grid-column: 2;
}
