/* Adds Iosevka fonts */
@font-face {
	font-family: "Iosevka Fixed";
	src:
		url("fonts/Iosevka-Fixed/IosevkaFixed-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "Julia Mono";
	src:
		url("fonts/JuliaMono/JuliaMono-Regular.woff2") format("woff2");
}



/* Global variables. */
:root, ::backdrop {

	/* 1% of the side of the biggest square that can fit into viewport */
	--vq: min(1vw, 1vh);
	
	--main-font: "Iosevka";
	--border-width: 0.1rem;

	/* Default (light) theme */
 	--bg: #fff;
	--accent-bg: #f5f7ff;
	--text-color: #212121;
	--text-light: #585858;
	--border: #545454;
	--accent: #ffb300;
	--accent-hover: #1266e2;
	--accent-text: var(--bg);
	--code: #d81b60;
	--preformatted: #444;
	--marked: #ffdd33;
	--disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {

	:root, ::backdrop {
		color-scheme: dark;
		--bg: #212121;
		--accent-bg: #2b2b2b;
		--text-color: #dcdcdc;
		--text-light: #ababab;
		--accent: #ffb300;
		--accent-hover: #ffe099;
		--accent-text: var(--bg);
		--code: #f06292;
		--preformatted: #ccc;
		--disabled: #111;
	}
	
	/* Add a bit of transparency so light media isn't so glaring in dark mode */
	img, video { opacity: 0.8;}
}

html {
	margin: 0;
	padding: 0;
	width: 100vw;
	color: var(--text-color);
	background-color: var(--bg);

	/* Set the font globally */
	font-family: var(--main-font);
	
	scroll-behavior: smooth;
	font-size: 1rem;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	display: grid;

	/* Space for main content will be the middle grid column */
	grid-template-columns: 1fr calc( var(--vq) * 100 ) 1fr;

}


body > * {
	
	/* Every element under body will be placed on middle column */
	grid-column: 2;
	
	margin-left: 1rem;
}

header {
	margin: 0;
	background-color: var(--accent-bg);
	border-bottom: 1px solid var(--border);
	text-align: center;

	display: grid;

	/* Three columns, same as body */
	grid-template-columns: 1fr calc( var(--vq) * 100 ) 1fr;

	/* Occupies all columns of body, equivalent to 100vw */
	grid-column-start: 1;
	grid-column-end: 4;
	
}

header > * {
	/* Space for content will be the middle grid column */
	grid-column: 2;
}

img, video {
	max-width: 90%;
	height: auto;
}

figure > img {
	/* Center images inside [figure] element */
	display: block;
	margin: auto;
}

figure {
	max-width: 90%;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.8em;
	border-style: solid;
	border-width: var(--border-width);
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1.4em;
	line-height: 1.1;
	font-weight: 700;
	margin-top: 3em;
	margin-bottom: 1.5em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

p {
	line-height: 1.3em;
	margin-top: 2em;
	margin-bottom: 2em;
}

a, a:visited {
	color: var(--accent);
	text-decoration: none;
}

select {
	font-family: inherit;
	padding: 0.5em;
	margin: 0.6em;
	box-shadow: none;
	color: var(--text-color);
	background-color: var(--bg);
	border: 1px solid var(--border);
}
