/* Two font faces */
@font-face
{
	font-family: "Iosevka Fixed";
	src:
		url("fonts/Iosevka-Fixed/IosevkaFixed-Regular.woff2") format("woff2");
}


@font-face
{
	font-family: "Julia Mono";
	src:
		url("fonts/JuliaMono/JuliaMono-Regular.woff2") format("woff2");
}


/* Global variables. */
:root, ::backdrop
{

	/* Side of the biggest square that can fit into viewport */
	--vq: min(100vw, 100vh);

	--main-font: "Julia Mono";

	--border-width: 0.1rem;

	/* Normal text*/
	--color-text-normal: #dcdcdc;

	/* Highlited text (not interative) */
	--color-text-marked: #9fff94;

	/* Less important text, or text ofuscated */
	--color-text-shadowed: grey;

	/* Things that can be clicked. Includes anchors (links). Includes buttons (this is the color of a button backround). Does not includes text inside buttons, since its the button itself that can be clicked, not the text.*/
	--color-clickable: #ffb300;

	/* Clickable thing that was clicked */
	--color-clicked: #ffe099;

	/* Color of lines that separate things (borders or horizontal rules, for example) */
	--color-line: #545454;

	--accent-bg: #2b2b2b;
	--text-color: #dcdcdc;
	--text-light: #ababab;
	--accent-text: var(--background-color);
	--disabled: #111;
}


/* Add a bit of transparency so light media isn't so glaring in dark mode */
img, video { opacity: 0.8;}


html
{
	margin: 0;
	padding: 0;
	width: 100vw;
	color: var(--color-text-normal);
	background-color: #212121;

	/* Set the font globally */
	font-family: var(--main-font);

	scroll-behavior: smooth;
	font-size: 1rem;
}


body
{
	margin: 0;
	padding: 0;
	width: 100vw;
	display: grid;

	/* Space for main content will be the middle grid column */
	grid-template-columns: 1fr var(--vq) 1fr;
	grid-template-rows: auto auto;

}


main
{
	grid-column: 2;
	grid-row: 2;
	margin-left: 1rem;
	margin-right: 1rem;
}


header
{
	margin: 0;
	background-color: var(--accent-bg);
	border-color: var(--border);
	border-bottom-style: solid;
	border-width: var(--border-width);
	text-align: center;

	display: grid;

	/* Three columns, same as body */
	grid-template-columns: 1fr var(--vq) 1fr;

	/* Occupies all columns of body, equivalent to 100vw */
	grid-column-start: 1;
	grid-column-end: 4;
}


header > *
{
	/* Space for content will be the middle grid column */
	grid-column: 2;
}


img, video
{
	max-width: 90%;
	height: auto;
}


figure > img
{
	/* Center images inside [figure] element */
	display: block;
	margin: auto;
}


figure > *
{
	margin-left: 1rem;
	margin-right: 1rem;
}


figure
{
	max-width: 90%;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.8em;
	border-style: solid;
	border-width: var(--border-width);
	border-color: white;
}


h1, h2, h3, h4, h5, h6
{
	font-size: 1.4rem;
	line-height: 1.1;
	font-weight: 700;
	margin-top: 3em;
	margin-bottom: 1.5em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}


p, li, a, mark
{
	font-size: inherit;
	line-height: 1.3em;
	margin-top: 2em;
	margin-bottom: 2em;
}


a, a:visited
{
	color: var(--clickable);
	text-decoration: none;
}


a:hover
{
	color: var(--clicked);
}


/* In a div with class [scroll], text is not wrapped. Use this to insert code or something like an email, that is better understood whithout wrap. */
div.scroll
{
	height: auto;
	overflow-x: scroll;

	/* There is no overflow in y axis, because the height of the div grows along with the content. However, this prevents the browser to show vertical srcollbar. */
	overflow-y: hidden;
}


div.scroll > *
{
    text-wrap: nowrap;
}


/* Marked things */
mark, code, kbd, blockquote > *
{
	padding: 0.1em;
	background: var(--accent-bg);
	color: var(--marked);
}


button, .button, a.button,  input[type="submit"], input[type="reset"], input[type="button"], label[type="button"]
{
	margin: 1em;
	border: 0px solid var(--clickable);
	background-color: var(--clickable);
	color: var(--accent-text);
	padding: 0.5rem 0.9rem;
	text-decoration: none;
	line-height: normal;
}


button:enabled:hover, .button:not([aria-disabled="true"]):hover, input[type="submit"]:enabled:hover, input[type="reset"]:enabled:hover, input[type="button"]:enabled:hover, label[type="button"]:hover
{
	background-color: var(--clicked);
	border-color: var(--clicked);
	cursor: pointer;
}


select
{
	font-family: inherit;
	padding: 0.5em;
	margin: 0.6em;
	box-shadow: none;
	color: var(--text-color);
	background-color: var(--background-color);
	border: 1px solid var(--border);
}


hr
{
	color: white;
}


cite
{
	color: grey;
}


#goTopButton
{
	width: fit-content;
	height: fit-content;
	margin: 1rem;
	position: fixed;
	bottom: 0px;
	right: 0px;
}


#topNavigations
{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;
}


#topNavigations > *
{
	width: fit-content;
	height: fit-content;
	margin: 1em;
}


/* [navigation.js] will set property [display] to [none] so this element will be hidden by default. */
#sectionIndex
{
	background-color: var(--accent-bg);
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row: 2;
	grid-template-columns: 1fr var(--vq) 1fr;
}


#sectionIndex > *
{
	grid-column: 2;
}
